<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZoomJWAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="sdkKey" value="%ZOOM_SDK_KEY%" />
        <add key="sdkSecret" value="%ZOOM_SDK_SECRET%" />
    </appSettings>
    <userSettings>
        <ZoomJWAssistant.Properties.Settings>
            <setting name="LastMeetingId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberLastMeetingDetails" serializeAs="String">
                <value>False</value>
            </setting>
        </ZoomJWAssistant.Properties.Settings>
    </userSettings>
</configuration>