<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZoomJWAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="sdkKey" value="%ZOOM_SDK_KEY%" />
    <add key="sdkSecret" value="%ZOOM_SDK_SECRET%" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ZoomJWAssistant.Properties.Settings>
      <setting name="LastMeetingId" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberLastMeetingDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultRenames" serializeAs="String">
        <value />
      </setting>
      <setting name="LastMeetingPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="NameFormat" serializeAs="String">
        <value>{name} - {number}</value>
      </setting>
      <setting name="sdkKey" serializeAs="String">
        <value />
      </setting>
      <setting name="sdkSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DockLayout" serializeAs="String">
        <value />
      </setting>
    </ZoomJWAssistant.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>